// Colours
$mainColor: #1d828e;
$pointColor: #fead5e;
$pointGradient: linear-gradient(180deg, #efbe41 0%, #fead5e 100%);
$secondBgColor: #f8f8f8;
$white: #ffffff;
$black: #1d1d1d;

// Fonts
$mainFont: "D-DIN", sans-serif;
$pointFont: "DIN Alternate", sans-serif;
