@import "../variables/Variables.scss";

.button-cont {
  button {
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .button-cont {
    button {
      width: 180px !important;
    }
  }
}

@media only screen and (max-width: 800px) {
  .button-cont {
    button {
      font-size: 20px !important;
    }
  }
}
