.top10-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 90px;
  position: relative;

  .ranking {
    position: absolute;
    p:nth-child(1) {
      position: absolute;
      top: 0px;
      left: -70px;
    }
    p:nth-child(2) {
      position: absolute;
      top: 50px;
      left: -70px;
    }
    p:nth-child(3) {
      position: absolute;
      top: 100px;
      left: -70px;
    }
  }

  .top10-info {
    border-bottom: solid 1px rgba(29, 29, 29, 0.3);
    display: flex;
    justify-content: space-between;
  }
}
