.city-content {
  display: flex;
  justify-content: center;

  .city-tabs-container {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .city-tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
