@import "../variables/Variables.scss";

.point-container {
  display: flex;
  p {
    margin: 0;
    text-align: right;
    color: $black;
    font-family: $mainFont;
  }

  .firstText {
    width: 160px;
  }
}

@media only screen and (max-width: 800px) {
  .point-container {
    p {
      font-size: 18px !important;
    }

    .pointTxt {
      font-size: 35px !important;
      margin: 0 5px !important;
    }
  }
}
