@import "../variables/Variables.scss";

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $secondBgColor;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }

  .left-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .welcome {
    font-family: $pointFont;
    font-size: 60px;
    margin: 0;

    span {
      border-bottom: 3px solid $black;
    }
  }

  .left-mid {
    p {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .left-side {
    flex: 1;

    .left-top {
      margin-bottom: 0px;

      div {
        margin-top: 60px;
      }
      p {
        display: none;
      }
    }

    .left-mid {
      margin-bottom: 60px;

      p {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .left-side {
    .left-top {
      .welcome {
        font-size: 45px;
      }
      .desc {
        font-size: 14px;
      }
    }

    .left-mid {
      p {
        font-size: 23px;
      }
    }
  }
}
