@import "../variables/Variables.scss";

.rating-cont {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  background-color: $secondBgColor;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 70px 35px 25px 0;

  span {
    background: $white;
    border-radius: 25px;
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.15);
    color: $black;
    font-size: 13px;
    width: 310px;
    position: absolute;
    text-align: center;
    top: -60px;
    left: 100px;
    display: none;
    padding: 13px 25px;
    font-family: $mainFont;
  }

  svg {
    position: absolute;
    top: 5px;
    right: 10px;

    &:hover + span {
      display: block;
      z-index: 10;
    }
  }

  img {
    width: 60%;
    height: 60%;
  }
}
