@import "../variables/Variables.scss";
.tab-container {
  display: flex;
  justify-content: flex-end;

  a {
    display: inline-block;
    padding-top: 18px;
    text-align: center;
    text-decoration: none;
    color: $black;
    background-color: $white;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 18px 18px 0px 0px;

    &.active {
      background-color: $mainColor;
      color: $white;
    }
  }
}
