@import "../styles/variables/Variables.scss";

.home-container {
  display: flex;
  height: 100vh;

  .home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 4;
    padding: 0 100px;

    .home-top {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .home-content {
      display: flex;
      justify-content: center;

      .tabs-container {
        margin-top: 20px;
      }
    }
  }
}

.footer {
  vertical-align: middle;
  width: 100%;
  display: flex;
  justify-content: center;
}
