@import "../styles/variables/Variables.scss";

.myZero-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

  .myZero-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .myZero-mid {
    margin-top: 45px;
    display: flex;
    flex-direction: column;

    .heading {
      font-size: 32px;
      margin-top: 0;
    }

    .graph-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      // width: 850px;
      width: 100%;
      height: 315px; // should be changed to auto after getting data
      background-color: $secondBgColor;
      border-radius: 20px;
    }
    .graph-cont2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      // width: 850px;
      width: 100%;
      height: 115px; // should be changed to auto after getting data
      background-color: $secondBgColor;
      border-radius: 20px;
      position: relative;

      span {
        background: $white;
        border-radius: 25px;
        box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.15);
        color: $black;
        font-size: 13px;
        width: 100px;
        position: absolute;
        text-align: center;
        top: 10px;
        right: 10px;
        display: none;
        padding: 10px 20px;
        font-family: $mainFont;
      }

      svg {
        position: absolute;
        top: -5px;
        right: 0px;

        &:hover + span {
          display: block;
          z-index: 10;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .myZero-cont {
    .myZero-top {
      flex-direction: column;

      div:nth-child(2) {
        order: -1;
      }
    }
    .myZero-mid {
      .heading {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .myZero-cont {
    .myZero-mid {
      .heading {
        font-size: 25px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .myZero-cont {
    .myZero-top {
      // flex-direction: column;
      align-items: center;

      div {
        margin-bottom: 30px;
      }
    }
  }
}
