@import "../styles/variables/Variables.scss";

.home-container {
  display: flex;
  // height: 100vh;
  height: auto;

  // .sidebar {
  //   flex: 1;
  //   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  // }

  .home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 4;
    // padding: 0 100px;

    .home-top {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      margin-right: 100px;
    }

    .home-content {
      display: flex;
      justify-content: center;

      .tabs-container {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    .home-main {
      .home-top {
        margin-right: 0;
      }
      .home-content {
        .tabs-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .home-container {
    display: flex;
    flex-direction: column;

    .home-main {
      padding: 0 60px;
    }
  }
}
