@import "../styles/variables/Variables.scss";

.login-cont {
  display: flex;
  width: 100vw;
  height: 100vh;

  .right-side {
    flex: 1;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  .login-cont {
    flex-direction: column;

    .right-side {
      flex: 2;
    }
  }
}
